#wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
  }
  
  #sidebar-wrapper {
    min-width: 250px;
    max-width: 250px;
  }
  
  #page-content-wrapper {
    width: 100%;
  }
  
  #menu-toggle {
    margin: 20px;
  }
  
  @media (max-width: 768px) {
    #sidebar-wrapper {
      min-width: 0;
      max-width: 0;
    }
  
    #page-content-wrapper {
      width: 100%;
      min-width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      min-width: 250px;
      max-width: 250px;
    }
  }
  